div{
    /*color: aqua;*/
    /*text-align: center;*/
    /*background-color: aliceblue;*/
    margin: auto;
    max-width: o;
    height: o;
    border: 0cap;
    background-image: url();
    background-size: 100px 150px;
    background-repeat: no-repeat;
    background-position: center;
    


   
}