* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  padding: 0;
  overflow-x: hidden;
}


nav{
  background-color: rgb(57, 57, 238);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up{
  background-color: rgb(156, 162, 231);
  color: white;
  height: 40px;
  border: 3px solid rgb(156, 162, 231);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 10px;
  justify-content: center;
  padding: 1px 10px;

} 
.sign-up:hover{
  background-color: rgb(255, 255, 255);
  border:3px solid red;
  border-radius: 10px;
  color: black;
}
nav h2{
  color: white;
  padding-left: 20px;
  padding-top: 5px;
  text-align: center;
  font-size: 40px

}

section h1{
  
 /* width: 600px;*/
 font-size:64px;
  position: center;
  text-align: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}
section .title{
  font-size: 24px;
  padding-top:10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #0e16ff;

}

.btn-group{
  justify-content: center;
  display: flex;
  
}
.next-btn{
  background-color: rgb(57, 57, 238);
  margin: 10px;
  height: 50px;
  width: 180px;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
.next-btn:hover{
  background-color: rgb(156, 162, 231);
  border: #0e16ff 2px solid;
}
.cv{
  width: 100%;
  overflow: hidden;
}
.CV-content{
  display: flex;
  width: max-content;
  overflow: hidden;
  justify-content: center;
  overflow-x: auto;
  animation: scroll 40s linear infinite;
}
.CV-content img{
  width: 100%;
  margin: 10px;
  flex-shrink: 0;
}

.CV-content img{
  width: 160px;
  height: auto;
  margin: 5px;
  flex-shrink: 0;


}
@keyframes scroll {
  from{transform: translateX(0);}
  to {transform:translateX(-50%);}
}


.CV-content-2{
  display: flex;
  width: max-content;
  overflow: hidden;
  justify-content: center;
  overflow-x: auto;
  animation: scrolls 40s linear infinite;
  
}
.CV-content-2 img{
  width: 100%;
  margin: 10px;
  flex-shrink: 0;
}

.CV-content-2 img{
  width: 160px;
  height: auto;
  margin: 5px;
  flex-shrink: 0;


}
@keyframes scrolls {
  from{transform: translateX(-50%);}
  to {transform:translateX(0);}
}






.scroll1{
  display: flex;
}

.left-arrow1{
  font-size: 20px;
  margin-top:-350px; 
  position: absolute;
  /*text-shadow: #5a1f1f 0px 0px 10px;*/
  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 2px 20px;

}
.right-arrow1{
  text-align: right;
  font-size: 20px;
  margin-top:-350px;
  margin-right: 0px;
  margin-left: auto;
  position: absolute;
  /*text-shadow: #5a1f1f 0px 0px 10px;*/
  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 2px 20px;

}



.scroll1{
  position: relative; 
}

.left-arrow1{
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;

  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 5px 10px;
}

.right-arrow1{
  position: absolute;
  
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;

  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 5px 10px;
}







.scroll2{
  display: flex;
}

.Viwe-more{
  text-align: right;
  padding-right:20px ;
}
.left-arrow2{
  font-size: 20px;
  margin-top:-100px; 
  position: absolute;
  /*text-shadow: #5a1f1f 0px 0px 10px;*/
  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 2px 20px;

}
.right-arrow2{
  text-align: right;
  font-size: 20px;
  margin-top:-100px;
  margin-right: 0px;
  margin-left: auto;
  position: absolute;
  /*text-shadow: #5a1f1f 0px 0px 10px;*/
  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 2px 20px;

}



.scroll2{
  position: relative; 
}

.left-arrow2{
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;

  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 5px 10px;
}

.right-arrow2{
  position: absolute;
  
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;

  background-color: #dadbf749;
  box-shadow: #dadbf749 0px 0px 10px;
  padding: 5px 10px;
}

/* for scroll and animation*/
.CV-content, .CV-content-2 {
  display: flex;
  gap: 15px;
  overflow-x: auto;      /* allow manual scroll */
  scroll-behavior: smooth;
  animation: scroll-left 40s linear infinite;
}

.CV-content-2 {
  animation: scroll-right 40s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

/* hide scrollbar */
.CV-content::-webkit-scrollbar,
.CV-content-2::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}
.design-cv{
 justify-content: center;
 background-color: yellowgreen;
 padding-left: 10px;
}


.design-cv img{
  width:auto;
  height: 220px;
  padding: 10px;
}